body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mpio {fill : #ddc;}
.mpio._44279 { fill: #fff; }
.mpio-borde {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 0.5;}
.depto-borde {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 1;}